<p></p>
<!-- container 12 -->
<div class="container_12">
	<!-- our clients -->
		<div class="grid_12">
			<div class="divider_page">
				<h2>Banques partenaires</h2>
				<div class="heading_button">
					<div class="prev_button" id="ourclients_prev">Prev</div>
					<div class="next_button" id="ourclients_next">Next</div>
				</div>
			</div>
			<div class="our_clients">
			  <a href="http://mtn.ci" target="_blank" class="a_client ecobank"></a>
			  <a href="http://orange.ci" target="_blank" class="a_client uba"></a>
			  <a href="http://moov.ci" target="_blank" class="a_client biao"></a>
			  <a href="https://paypal.com" target="_blank" class="a_client bicici"></a>
			</div>
		</div>
		<!-- our clients end -->
</div>
<!-- container 12 end -->
<p></p>
