<!-- header text -->
<div class="header_text">
	<div class="container_12">
		<div class="grid_9">
			<h3>DISPONIBILITE 24/7</h3>
			<p>
			  La passerelle de paiement PayMoney est disponible 24h/24 et 7j/7 pour le traitement des transactions. Cela offre ainsi aux e-commerces l’avantage de réaliser des ventes à tout moment sur leurs sites. Que les propriétaires ou vendeurs soient présents physiquement ou pas, notre système est configuré pour effectuer les actions de débit et crédit sans interruption. 
			</p>			
		</div>
		<div class="grid_3 align_right">
					
		</div>
	</div>
</div>
<!-- header text end -->
