<!-- header text -->
<div class="header_text">
	<div class="container_12">
		<div class="grid_9">
			<h3>MOYENS DE PAIEMENT</h3>
			<p>
			  Parce que nous sommes convaincus que si vos clients avaient la possibilité d’utiliser leurs moyens de paiement au choix sur vos e-commerces, cela augmenterais considérablement vos ventes et vos revenus, notre système offre en plus de sa flexibilité de paramétrage, une connectivité avec la plupart des moyens de paiement existant : carte, wallet, PayPal,  etc...
			</p>
			<p>
			  Notre système est conçu dans une logique d’interopérabilité parfaite avec différents moyens de paiement locaux et internationaux.
			</p>
			<p>
			  Ainsi les Africains pourront interagir avec le monde qui les entoure et leurs boutiques préférés  d’une manière infiniment plus facile et plus pratique.  Ils passeront moins de temps à remplir des formulaires et à faire  la file pour obtenir des services ou des produits. Tous passeront du paiement du montant exact en monnaie à l’utilisation d’un simple identifiant numérique intégrée à une carte ou à un téléphone.
			</p>
		</div>
		<div class="grid_3 align_right">
					
		</div>
	</div>
</div>
<!-- header text end -->
