<!-- header text -->
<div class="header_text">
	<div class="container_12">
		<div class="grid_9">
			<h3>COMPENSES AUTOMATISEES</h3>
			<p>
			  Le plus complexe dans la mise en place d’un HUB Monétique reste la répartition des flux financiers provenant de divers moyens de paiement. Chaque jour un fichier de compense basé sur les clés de répartition des entrées financières aux ayants droits est édité par notre système et transféré à la banque de compense. PayMoney est conçu pour prendre en compte un nombre illimité d’ayants droits et parallèlement procéder automatiquement à la répartition des montants encaissés et dus. 
			</p>
			<p>
			  L’automatisation du système de compense aidera les propriétaires de petites entreprises à consacrer plus de temps à l’exploitation de leur entreprise au lieu d’avoir à rapprocher des écritures comptables éparses. D’autres, comme les grandes sociétés ou les administrations publiques, pourront maximiser les économies au chapitre des coûts en transformant la prestation  de leurs services aux consommateurs afin de les  rendre plus rapides et plus personnalisés. 
			</p>
		</div>
		<div class="grid_3 align_right">
					
		</div>
	</div>
</div>
<!-- header text end -->
