<!-- header text -->
<div class="header_text">
	<div class="container_12">
		<div class="grid_9">
			<h3>PAYMENT GATEWAY</h3>
			<p>
			  Le Payment Gateway PayMoney est une plate-forme de traitement de paiement flexible à l’échelle de toute entreprise qui permet d’acheminer les paiements commerciaux entre acheteurs, fournisseurs et leurs institutions financières. Cette offre innovante est conçue pour accroître la productivité et les bénéfices des entreprises avec une sécurité renforcée, tout en simplifiant l'ensemble du processus de paiement.
			</p>
			<p>
			  La passerelle de paiement PayMoney peut gérer différents types de paiement y compris à la carte et aussi le transfert électronique de fonds (TEF). Cette solution vise à améliorer le processus de paiement pour les entreprises de toutes tailles, et révolutionner une industrie traditionnellement dominé par les paiements par espèces, chèque et les virements. 
			</p>
			<p>
			  La passerelle de paiement PayMoney est une solution modulaire complète, de bout en bout qui offre plusieurs autres fonctionnalités clés ; y compris la gestion automatisée des compenses.
			</p>
		</div>
		<div class="grid_3 align_right">
					
		</div>
	</div>
</div>
<!-- header text end -->
