<!-- header text -->
<div class="header_text">
	<div class="container_12">
		<div class="grid_9">
			<h3><%=t :home_intro_title %></h3>
			<p>
			  <%=t :home_intro_text_p1 %>
			</p>
			<p>
			  <%=t :home_intro_text_p2 %>
			</p>
			<p><%= link_to "#{t :home_intro_text_more}", home_intro_text_path, :class => "sc_button medium" %></p>
		</div>
		<div class="grid_3 align_right">
					
		</div>
	</div>
</div>
<!-- header text end -->
